* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    cursor: pointer; /*Viene activado por defectro*/
}
a:hover {
    text-decoration: underline;
}
header {
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
    height: inherit; /*inherit en caso de no funcionar, probar con auto*/
}
header nav .nav-right-section {
    width: 250px;
    height: auto; 
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a{
    margin-right: 10px;
    color: #000
}
nav .nav-right-section .menu-icon{
    background-image: url('../icons/apps-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*Funciona como el object fit*/
    width: 25px;
    height: 25px;
    cursor: pointer;
}
nav .nav-right-section .menu-icon:hover{
    background-color: #e4e4e4;
    border-radius: 50%;
}
nav .nav-right-section img{
    border-radius: 50%; /*Formar un circulo*/
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}
main .main-logo{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img{
    width: 100%;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon{
    background-image: url('../icons/Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
main .main-input .micro-icon{
    background-image: url('../icons/Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: none;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 4px;
    padding: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: #202124;
}

footer {
    width: 100%;
    height: 100px;
    /*Asegurar que el footer siempre este al final de la pagina*/
    position: absolute;
    bottom: 0;

    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer .footer-country {
    height: 50px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    
}
footer .footer-country p {
    margin-left: 10px;
    padding: 4px;
    color: #5f6368
}

footer .footer-links {
    height: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-content: left;
}
footer .footer-right {
    justify-content: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368
}