* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    cursor: pointer; /*Viene activado por defectro*/
}
header {
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
    height: inherit; /*inherit en caso de no funcionar, probar con auto*/
}
header nav .nav-right-section {
    width: 250px;
    height: auto; 
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a{
    margin-right: 10px;
    color: #000
}
nav .nav-right-section .menu-icon{
    background-image: url('../icons/apps-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*Funciona como el object fit*/
    width: 25px;
    height: 25px;
}
nav .nav-right-section img{
    border-radius: 50%; /*Formar un circulo*/
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}
main .main-logo{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img{
    width: 100%;
}